# Xcode 설정 파일들
Nower-iOS/Nower-iOS/Debug.xcconfig
Nower-iOS/Nower-iOS/Release.xcconfig

# Created by https://www.toptal.com/developers/gitignore/api/xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode

### Xcode ###
## User settings
xcuserdata/
*.xcuserstate

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/xcshareddata/
!**/*.xcodeproj/project.xcworkspace/
!**/*.xcworkspace/contents.xcworkspacedata
*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode

# 사용자별 Xcode 설정
Nower/Nower.xcodeproj/project.xcworkspace/xcuserdata/sinjong-won.xcuserdatad/UserInterfaceState.xcuserstate

# macOS 시스템 파일
.DS_Store
**/.DS_Store

# NowerCore (Swift Package)
NowerCore/.build/
NowerCore/.swiftpm/